.bg-con{
    background-color: coral;
    padding: 40px 40px;
    border-radius: 40px;
}
.input{
    padding: 10px 15px;
    border-radius: 20px;
    
}
.input-btn{
    padding: 10px 35px;
    border-radius: 20px;
    background-color: cornflowerblue;
}
.input-message{
    padding-right: 240px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}