.bg-img{
    font-size: 250px;
    color: rgb(197, 0, 0);
}
.notFound{
    margin: 100px;
}
.home{
    padding:5px 90px;
    border-radius: 20px;
    color: rgb(246, 246, 246);
    background-color: chocolate;
    border: none;
}
.home:hover{
    padding:5px 90px;
    border-radius: 20px;
    color: rgb(214, 113, 30);
    background-color: rgb(246, 204, 173);
    border: none;
}